<button mat-stroked-button [disabled]="!saveAllowed" class="btn-wrapper" [class.btn-wrapper--disabled]="!saveAllowed"
        (click)="save.emit()">
  <span class="btn__text">Сохранить изменения</span>
  <mat-icon class="btn__icon">check_circle_outline</mat-icon>
</button>
