@import 'mixins';
@import 'palette';

:host {
  width: 220px;
  height: 48px;
}

.btn-wrapper {
  width: 100%;
  height: 100%;
  color: $main-dark-color;
  background-color: #fff;
  border: 1px solid $gray-divider-color;

  &--disabled {
    color: $main-dark-color--disabled;
  }

  &::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.btn__text {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
}

.btn__icon {
  @include mat-icon-size(16px);
}
