$main-dark-color: rgba(0, 0, 0, 0.72);
$main-dark-color--disabled: rgba(0, 0, 0, 0.36);
$light-gray-color: rgba(0, 0, 0, 0.32);
$gray-divider-color: rgba(0, 0, 0, 0.1);
$ultra-light-gray-color: rgba(0, 0, 0, 0.03);
$min-gray-color: rgba(0, 0, 0, 0.44);
$active-color: #007AFF;
