<div class="worker-container" [class.worker-container--empty]="!worker">
  <ng-container *ngIf="worker; else NoWorkerTemplate">
    <div class="worker__content">
      <p class="wrapper__section-title">Специалист</p>
      <div class="worker__wrapper-info">
        <div class="info__content">
          <img [src]="worker.logo" [alt]="worker.full_name" class="info__logo">
          <span class="info__name">{{ worker.full_name }}</span>
          <span class="info__shops">{{ worker.shops.length | plural:'магазин':'магазина':'магазинов' }}</span>
        </div>
        <div class="info__actions">
          <button mat-icon-button class="remove-btn" (click)="removeWorker.emit()">
            <mat-icon svgIcon="worker-remove"></mat-icon>
          </button>
        </div>
      </div>
      <p class="wrapper__section-title">Магазины</p>
      <div class="shop__wrapper">
        <ng-container *ngIf="worker.shops.length > 0; else NoShopTemplate">
          <ng-container *ngFor="let shop of worker.shops; trackBy: trackShopFn">
            <div class="worker-shop-item">
              <app-sp-shop-item [shop]="shop"></app-sp-shop-item>
              <button mat-icon-button class="remove-btn" (click)="removeShop.emit(shop)">
                <mat-icon svgIcon="worker-remove"></mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #NoShopTemplate>
          <div class="shop-empty-container">
            <span class="shop-empty-title">Не назначены</span>
            <app-sp-warning-icon></app-sp-warning-icon>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <ng-template #NoWorkerTemplate>
    <div class="empty-worker-container">
      <p class="empty__title">{{ 'Специалист не назначен' | uppercase }}</p>
      <p class="empty__subtitle">
        Чтобы начать работу с нераспределенными магазинами, вам необходимо добавить хотя бы одного специалиста
      </p>
      <mat-icon svgIcon="add-worker"></mat-icon>
    </div>
  </ng-template>
</div>
