@import 'palette';
@import 'mixins';

.worker-container {
  width: 100%;
  min-width: 540px;
  max-width: 540px;
  min-height: 426px;
  background-color: #fff;
  box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.2);

  &--empty {
    background-color: $ultra-light-gray-color;
  }
}

.worker__content {
  padding: 24px;
  background-color: #fff;
  border-radius: 0 6px 6px 6px;
}

.wrapper__section-title {
  color: $light-gray-color;
  font-size: 13px;
  line-height: 16px;
}

.worker__wrapper-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 26px 0;
}

.info__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info__logo {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  border-radius: 50%;
}

.info__name {
  margin-right: 16px;
  color: $main-dark-color;
  font-size: 14px;
  line-height: 16px;
}

.info__actions {
  display: flex;
  align-items: center;
}

.remove-btn {
  width: 32px;
  height: 32px;
  line-height: 32px;

  mat-icon {
    @include mat-icon-size(16px);
  }

  &::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.info__shops {
  color: $active-color;
  font-size: 14px;
  line-height: 16px;
}

.worker-shop-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 22px;
}

.shop-empty-container {
  display: flex;
  align-items: center;
}

.shop-empty-title {
  color: $main-dark-color;
  font-size: 13px;
  line-height: 16px;
}

.empty-worker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 146px 76px;
  text-align: center;
  background-color: $ultra-light-gray-color;
  border: 1px dashed $gray-divider-color;
  border-radius: 4px;

  mat-icon {
    width: 60px;
    height: 48px;
    font-size: 60px;
  }
}

.empty__title {
  color: $main-dark-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.empty__subtitle {
  color: $min-gray-color;
  font-size: 13px;
  line-height: 22px;
}
