<div class="bar-container">
  <ng-container *ngFor="let worker of workers; trackBy: trackWorkerFn">
    <div class="worker-wrapper" (click)="selectWorker.emit(worker)"
         matBadge="{{ worker.shops.length }}" matBadgeOverlap="true"
         [class.worker-wrapper--selected]="worker.id === selected.id">
      <img [src]="worker.logo" alt="" class="worker__avatar" >
    </div>
  </ng-container>
  <ng-container *ngIf="workers.length <= MAX_WORKERS_COUNT">
    <div class="worker-add-button" (click)="add.emit()">
      <div class="worker-round-btn">+</div>
    </div>
    <ng-container *ngIf="!workers">
      <span class="button-text" (click)="add.emit()">Добавить специалиста</span>
    </ng-container>
  </ng-container>
</div>
