@import 'mixins';
@import 'palette';

@mixin bar-item() {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@mixin item-wrapper() {
  width: 60px;
  height: 64px;
  padding: 6px;
}

.bar-container {
  display: flex;
  align-items: center;
  height: 64px;
}

.worker-wrapper {
  @include item-wrapper();

  z-index: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 40% 40% 0 0;

  &--selected {
    background-color: #fff;
  }

  &:hover {
    background-color: #fff;
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }

  .mat-badge-content::ng-deep {
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    font-size: 9px;
    line-height: 16px;
    background-color: $active-color;
  }
}

.worker__avatar {
  @include bar-item();
}

.worker-add-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.button-text {
  margin-left: 16px;
  color: $main-dark-color;
  font-size: 11px;
  line-height: 16px;
}

.worker-round-btn {
  @include bar-item();

  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-gray-color;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.05);

  &:hover {
    color: #fff;
    background-color: $active-color;
    border: 1px solid;
  }
}
