@import 'mixins';
@import 'palette';

.shop-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 0;

  &.disabled {
    &:hover {
      background-color: transparent;
      cursor: auto;
    }
  }
}

.btn__icon {
  @include mat-icon-size(16px);
}

.shop__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: $main-dark-color;
  border-radius: 50%;

  &.disabled {
    background-color: $main-dark-color--disabled;
  }
}

.shop__name {
  color: $main-dark-color;
  font-size: 14px;
  line-height: 16px;

  &.disabled {
    color: $main-dark-color--disabled;
  }
}

.shop__address {
  color: $light-gray-color;
  font-size: 11px;
  line-height: 12px;
}

.shop__text {
  margin-left: 16px;
}
