<div class="shop-container" [class.disabled]="disabled">
  <div class="shop__logo" [class.disabled]="disabled">
    <span>BS</span>
  </div>
  <div class="shop__text">
    <div class="shop__name" [class.disabled]="disabled">
      {{ shop.name }}
    </div>
    <div class="shop__address" [class.disabled]="disabled">
      {{ shop.full_address }}
    </div>
  </div>

</div>
