/* You can add global styles to this file, and also import other style files */
@import 'styles/mixins';
@import 'styles/palette.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  background-color: rgba(0, 0, 0, 0.02);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;  /* stylelint-disable-line font-family-name-quotes */
}
