@import 'mixins';
@import 'palette';

.shops-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 482px;
  max-width: 482px;
  margin-top: 16px;
  padding: 6px 0 0;
  border: 1px dashed $gray-divider-color;
}

.shop-item-wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;

  &:hover {
    background-color: darken(#fff, 5%);
    cursor: pointer;
  }

  &--disabled {
    &:hover {
      background-color: transparent;
      cursor: none;
    }
  }
}

.shops-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
  padding: 0 22px;
  color: $light-gray-color;
  font-size: 13px;
  line-height: 16px;
}
