<div class="shops-content">
  <p class="shops-title">
    <span>Нераспределенные магазины: {{ shops.length }}</span>
    <ng-container *ngIf="shops.length > 0">
      <app-sp-warning-icon></app-sp-warning-icon>
    </ng-container>
  </p>
  <ng-container *ngIf="shops.length">
    <perfect-scrollbar style="max-height: 388px;">
      <div style="max-height: 388px;">
        <ng-container *ngFor="let shop of shops | orderBy:'id'; trackBy: trackByShopFn">
          <div class="shop-item-wrapper" [class.shop-item-wrapper--disabled]="disabled">
            <button mat-icon-button [disableRipple]="true" [disabled]="disabled">
              <mat-icon svgIcon="add-arrow" class="btn__icon"></mat-icon>
            </button>
            <app-sp-shop-item [disabled]="disabled" [shop]="shop"
                              (click)="handleClick(shop)"></app-sp-shop-item>
          </div>
        </ng-container>
      </div>
    </perfect-scrollbar>
  </ng-container>
</div>
