<main class="container">
  <div class="workers-container">
    <app-sp-worker-bar
      [workers]="selectedWorkers"
      [selected]="selectedWorker"
      (add)="handleAdd()"
      (selectWorker)="handleSelectWorker($event)">
    </app-sp-worker-bar>
    <app-sp-worker-item [worker]="selectedWorker" (removeWorker)="handleRemoveWorker()"
                        (removeShop)="handleRemoveShop($event)"></app-sp-worker-item>
  </div>

  <div class="shops-container">
    <app-sp-save-button (save)="handleSave()"
                        [saveAllowed]="selectedWorkers | saveAvailable:shops"></app-sp-save-button>
    <app-sp-shops-list (selectShop)="handleSelectShop($event)" [disabled]="selectedWorkers.length === 0"
                       [shops]="shops"></app-sp-shops-list>
  </div>

</main>
