.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 1rem;
}

.workers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 540px;
  min-width: 540px;
  max-width: 506px;
}

.shops-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 482px;
  min-width: 482px;
  max-width: 482px;
}
